dotenv
asgiref
gunicorn
defusedxml==0.7.1
diff-match-patch==20230430
Django
django-admin-notification
django-cors-headers
django-import-export
django-jazzmin
et-xmlfile
MarkupPy
numpy
odfpy
openpyxl
pandas
pillow
pypng
python-dateutil
pytz
PyYAML
qrcode
six
sqlparse
tablib
typing_extensions
tzdata
xlrd
xlwt
